<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
    <h2>Welcome to the Logbook</h2>
    <ul>
        <li><a href="/submit/selexlocalizer">Selex Localizer</a></li>
        <li><a href="/submit/selexglidepath">Selex Glide Path</a></li>
        <li><a href="/submit/selexmiddlemarker">Selex Middle Marker</a></li>
        <li><a href="/submit/mopienslocalizer">Mopiens Localizer</a></li>
        <li><a href="/submit/mopiensglidepath">Mopiens Glide Path</a></li>
        <li><a href="/submit/mopiensmiddlemarker">Mopiens Middle Marker</a></li>
    </ul>
</body>
</html>
