<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to the Logbook</h1>
    <ul>
        <li><a href="/submit/selexlocalizer">Selex Localizer</a></li>
        <li><a href="/submit/selexglidepath">Selex Glide Path</a></li>
        <li><a href="/submit/selexmiddlemarker">Selex Middle Marker</a></li>
        <li><a href="/submit/mopienslocalizer">Mopiens Localizer</a></li>
        <li><a href="/submit/mopiensglidepath">Mopiens Glide Path</a></li>
        <li><a href="/submit/mopiensmiddlemarker">Mopiens Middle Marker</a></li>
    </ul>
</body>
</html>